section

  section.sec-slide(data-background="#d9105a")

    object(type="image/svg+xml", data="images/logo.svg", width="45%")
    hr
    h1.white JS4Girls
    h5.white #{about.general.location.city}, #{about.general.location.state}
