section

  section.sec-slide(data-background="#d9105a")

    img(src="images/logo.svg", width="40%")
    hr
    h1.white JS4Girls
    h3.white <i>#{general.location.city}, #{general.location.state}</i>
