section

  section.sec-slide

    h1.primary.upper Quem está nessa?

    p Há um time de pessoas querendo fazer a iniciativa acontecer em #{about.general.location.city}, entre eles:

  section.sec-slide

    h1.left Organizadores

    hr

    .col-3
      img.rounded(src="images/people/carlos.jpg", alt="Carlos")
      a(href="https://br.linkedin.com/pub/carlos-eduardo-câmara-gomes/95/6a2/ba8") Carlos
    .col-3
      img.rounded(src="images/people/ian.jpg", alt="Ian")
      a(href="https://br.linkedin.com/in/ianramosc") Ian
    .col-3
      img.rounded(src="images/people/matheus.jpg", alt="Matheus")
      a(href="https://github.com/mabrasil") Matheus

  section.sec-slide

    h1.left Organizadores

    hr

    .col-3
      img.rounded(src="images/people/sandy.jpg", alt="Sandy")
      a(href="https://br.linkedin.com/in/sandymaciel") Sandy Maciel
    .col-3
      img.rounded(src="images/people/wilmerson.jpg", alt="Wilmerson")
      a(href="https://br.linkedin.com/in/wilmersondasilva") Wilmerson

  section.sec-slide

    h1.left Instrutores

    hr

    .col-3
      img.rounded(src="images/people/abraao.jpg", alt="Abraão")
      a(href="http://abraaoalves.github.io") Abraão Alves
    .col-3
      img.rounded(src="images/people/cicero.jpg", alt="Cícero")
      a(href="https://br.linkedin.com/pub/cicero-viana/29/a20/ba4") Cícero Viana
    .col-3
      img.rounded(src="images/people/vitor.jpg", alt="Vitor")
      a(href="https://github.com/vitormalencar") Vitor Maia
