doctype html
html
  include layouts/head
  body
    .reveal
      .slides

        include ../slides/home
        include ../slides/about
        include ../slides/people
        include ../slides/support-us
        include ../slides/bye

    include layouts/scripts
