script(type="text/javascript", src="vendor/reveal.js/lib/js/head.min.js")
script(type="text/javascript", src="vendor/reveal.js/js/reveal.js")
script(type="text/javascript", src="vendor/sweetalert/dist/sweetalert.min.js")
script(type="text/javascript", src="scripts/main.js")
script.
  swal({
    title: "Dica de navegação",
    text: "Use a Barra de Espaço (␣) de seu teclado para navegar :)",
    confirmButtonText:"Entendido!",
    timer: 60000,
    confirmButtonColor: "#d9105a",
    type: "info"
  });
